.header {
  @extend %center-middle-content;

  @media only screen and (max-width: 349px)  {
    background: url('../Media/Images/background-xs.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media only screen and (min-width: 350px) and (max-width: 499px)  {
    background: url('../Media/Images/background-sm.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media only screen and (min-width: 500px) and (max-width: 899px)  {
    background: url('../Media/Images/background-md.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media only screen and (min-width: 900px) and (max-width: 1199px)  {
    background: url('../Media/Images/background-lg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @media only screen and (min-width: 1200px)  {
    background: url('../Media/Images/background-xl.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  animation: fadeIn;
  animation-duration: 1s;

  .navbar {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    display: grid;
    grid-template-columns: 1fr repeat(2, 100px);

    padding: 5vh 5vw 5vh 5vw;
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .nav-left { text-align: left; }
    .nav-right { float: right; }

    a, .link {
      position: relative;

      color: $header-primary-color;

      cursor: pointer;

      .bra, .ket {
        position: absolute;

        opacity: 0;
        transition: 0.25s;
        color: $header-accent-color;

        font-size: 2rem;
        pointer-events: none;
      }
      .bra { left: -1rem; }
      .ket { right: -1rem; }

      &:hover { .bra { left: -1.8rem; opacity: 1; } }
      &:hover { .ket { right: -1.8rem; opacity: 1; } }
    }
  }

  .content {
    width: 80vw;
    @media (max-width: 549px) { text-align: center; }
    @media (min-width: 550px) { text-align: left; }

    .title { color: $header-primary-color; }
    .subtitle { color: $header-secondary-color; }
  }
  .triangle { @include triangle($header-triangle-background-color); }
}
