%flex-column { display: flex; flex-direction: column; }

%center-content { @extend %flex-column; align-items: center; }

%middle-content { @extend %flex-column; justify-content: center; }

%center-middle-content {
  @extend %flex-column;

  justify-content: center;
  align-items: center;
}

%background-grad {
  background: #3294BD; /* For browsers that do not support gradients */    
  background: -webkit-linear-gradient(left, #3294BD , #706CF5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #3294BD, #706CF5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #3294BD, #706CF5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #3294BD , #706CF5); /* Standard syntax (must be last) */
}

%border-grad {
  border-image: #3294BD; /* For browsers that do not support gradients */    
  border-image: -webkit-linear-gradient(left, #3294BD , #706CF5); /* For Safari 5.1 to 6.0 */
  border-image: -o-linear-gradient(right, #3294BD, #706CF5); /* For Opera 11.1 to 12.0 */
  border-image: -moz-linear-gradient(right, #3294BD, #706CF5); /* For Firefox 3.6 to 15 */
  border-image: linear-gradient(to right, #3294BD , #706CF5); /* Standard syntax (must be last) */
  border-image-slice: 1;
}