@import url('https://fonts.googleapis.com/css?family=Montserrat:200|Titillium+Web:200');

$heading-font: 'Titillium Web', sans-serif;
$content-font: 'Montserrat', sans-serif;

$header-triangle-background-color: #202A36;
$header-primary-color: #FFFFFF;
$header-secondary-color: #A2B5C3;
$header-accent-color: #39ADEB;

$projects-triangle-background-color: #242F3B;
$projects-article-background-color: #242F3B;
$projects-background-color: #202A36;
$projects-primary-color: #FFFFFF;
$projects-secondary-color: #A2B5C3;
$projects-accent-color: #39ADEB;

$skills-triangle-background-color: #202A36;
$skills-background-color: #242F3B;
$skills-primary-color: #FFFFFF;
$skills-secondary-color: #A2B5C3;
$skills-accent-color: #39ADEB;

$about-background-color: #202A36;
$about-triangle-background-color: #242F3B;
$about-primary-color: #FFFFFF;
$about-secondary-color: #A2B5C3;
$about-accent-color: #39ADEB;

$experience-background-color: #202A36;
$experience-triangle-background-color: #242F3B;
$experience-primary-color: #FFFFFF;
$experience-secondary-color: #A2B5C3;
$experience-accent-color: #39ADEB;

$contact-form-background-color: #181F28;
$contact-background-color: #242F3B;
$contact-primary-color: #FFFFFF;
$contact-secondary-color: #A2B5C3;
$contact-accent-color: #39ADEB;
